.DS_Store
.idea/
.vscode/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*
!.env.example
dist/
coverage/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
**/lib/gen_l10n/
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/ephemeral/
**/android/.gradle/
**/android/**/build/
**/android/local.properties

# Logs
*.log
